* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Source Sans Pro', sans-serif, 'Microsoft JhengHei';
    padding: 0;
    margin: 0;
    background-color: rgb(236, 236, 236);
    color: #333;
    box-shadow: 0 0 100px #aaa inset;
}

#teaser {
    background-color: #333;
    color: #eee;
    padding: 4em;
    box-shadow: 0 0 50px #222 inset;
}

section[role=teaser-img] {
    display: block;
    width: 100%;
    margin: 1em auto;
    background: transparent;
}

section[role=teaser-img] > img {
    display: block;
    width: 100%;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3em;
    font-weight: 900;
    text-align: center;
    margin: 0;
    /*margin-bottom: 0.4em;*/
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2em;
    text-align: center;
    margin: 0;
    margin-bottom: 0.4em;
}

h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2em;
    text-align: center;
    margin: 0;
    margin-top: 2em;
    margin-bottom: 0.4em;
}

main {
    display: block;
    position: relative;
    width: 90%;
    max-width: 756px;
    margin: 0 auto;
}

p {
    font-size: 1.2em;
    line-height: 1.4em;
    text-align: justify;
    margin: 0;
}

a { 
    display: inline-block;
    color: #94ceff;
    text-decoration: none;
    margin: 0 .7em;
    vertical-align: baseline;
    opacity: .77;
}
a:hover {
    opacity: 1;
    text-decoration: underline;
}

main a {
    color: #3173ab;
}

pre {
    font-family: monospace;
}

iframe {
    display: block;
    margin: 1em auto 2em auto;
}

footer {
    font-size: .8em;
    color: gray;
    margin-top: 8em;
    padding-top: .5em;
    padding-bottom: 2em;
    border-top: 1px solid #aaa;
}

section[role=gallery] table {
    display: block;
    width: 100%;
    margin: 0 auto;
    background: white;
}

section[role=gallery] td {
    width: 50%;
}

section[role=gallery] img {
    width: 100%;
}

section[role=authors] {
    display: block;
    text-align: center;
    background: transparent;
}

section[role=affiliation] {
    display: block;
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 2em;
    background: transparent;
}
section[role=affiliation] > div[role=sub] {
    margin-top: .8em;
    font-size: 14px;
    opacity: .8;
}
section[role=affiliation] a {
    margin: 0;
}

div[role="my-head-container"] {
    width: 210px;
    height: 210px;
    padding: 3px;
    margin: 0 auto;
    position: relative;
    background-color: #aaa;
    border-radius: 50%;
}
div[role="my-head"] {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    background-image: url('./imgs/sunset.jpg');
    background-size: 100% auto;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}
div[role="my-head"]::after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 110%;
    border-radius: 50%;
    z-index: -1;
    background-color: white;
}

main > article {
    margin-top: 1em;
    margin-bottom: 2em;
}
main > article > header {
    font-size: 20px;
    font-weight: 900;
}
main > article > p {
    font-size: 18px;
}
main > article > p[role="sub-title"] {
    font-size: 16px;
    font-style: italic;
}
